/bmTa4j/target
/bmTa4j/.classpath
/bmTa4j/.project
/stockUtils/target
/stockUtils/.classpath
/stockUtils/.project
/bmUtils/.project
/bmUtils/.classpath
/bmUtils/target
/stockUtils/.settings
/bmTa4j/.settings
/*/.*
